#fondo {
    height: 1000px;
    background-image: url(../img/Camp-Nou.jpg);
}

footer {
    background-color: #af2432;
    display: flex;
    color: white;
    height: 39px;
    margin: 0px;
}

body {
    margin: 0px;
}