*{
    box-sizing: border-box;
}

#maquetacion{
    width: 100%;
    margin: 0 auto;
}

#maquetacion header{
	background-color: #eac310;

}

#maquetacion header img{
    width: 100%;

}

/*#1a294c; azul barcelona*/
/*#af2432; granate*/

#maquetacion #contenido aside{

   	flex: 1 1 15%;
    list-style-type: none;
    background-color: #1a294c;
    color: rgb(255, 255, 255);
    padding: 20px 3%;

}

#maquetacion #contenido aside a{
    text-decoration: none;
}

#maquetacion #contenido{
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
	font-family: "Bebas";
}

#maquetacion #contenido main {
	min-height: 1000px;
    flex: 1 1 70%;
    padding: 20px 3%;
	
	color: white;
	background-color: #af2432;
	
}

#maquetacion #contenido main ul{
	list-style-type: none;
	font-size: 70px;
	text-align: center;
}

#maquetacion #contenido main li a{
	text-decoration: none;
	color: white;
}

#maquetacion #contenido main div {
	text-align: center;
	}

#maquetacion #contenido main div img {
width: 75%;

#maquetacion #contenido main h1{
	color: #FEDC00    ;
}
#maquetacion #contenido main h1 a{
	text-decoration: none;
	color: white;
}

#maquetacion footer{

	background-color: #FEDC00;
	font-size: 12pt;	
	color: rgb(1, 1, 1);
	display: flex;
	width: 100%;
	padding-top:10px;
	padding-bottom:10px;

}


@font-face {
	font-family: "Bebas";
	src: url(../font/BebasNeue-Regular.ttf);
}